<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="~/online-shop-website-template/img/offer-1.jpg" alt="">
        <div class="offer-text">
            <h3 class="text-white mb-3">Editörün Seçtikleri</h3>
            <a href="" class="btn btn-primary">Göz At</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="~/online-shop-website-template/img/offer-2.jpg" alt="">
        <div class="offer-text">
            <h3 class="text-white mb-3">Editörün Seçtikleri</h3>
            <a href="" class="btn btn-primary">Göz At</a>
        </div>
    </div>
</div>