@model List<LibraryManagementSystem.Dto.BookDtos.ResultBookDetailsDto>
@{
    Random rnd = new Random();
    var shuffledProducts = Model.OrderBy(x => rnd.Next()).ToList();
    var booksToShow = shuffledProducts.Take(2).ToList();
}

<div class="col-lg-4">
@foreach (var item in booksToShow)
{
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src= @item.ImageURL alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">@item.Name</h6>
            <h3 class="text-white mb-3">@item.Author</h3>
            <a href="" class="btn btn-primary">Göz At</a>
        </div>
    </div>
}

</div>