
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Kitaplar</a>
                <span class="breadcrumb-item active">Kitap Listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Category Start -->
            @await Component.InvokeAsync("_BookListCategoryFilterComponentPartial")
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        @await Component.InvokeAsync("_BookListGetProductCountComponentPartial")
     
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->