@model MailRequest
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <div class="alert alert-success"><h3>Mail Gönderme Sayası</h3></div>
    <form method="post">
    <label>Alıcı Mail Adresi</label>
    <input type="text" asp-for="RecieverMail" class="form-control" />
    <br />
    <label>Mail Konusu</label>
    <input type="text" asp-for="Subject" class="form-control" />
    <br />
    <label>Mail İçeriği</label>
    <textarea rows="5" class="form-control" asp-for="MessageContent"></textarea>
    <br />
    <button class="btn btn-primary">Gönder</button>
    </form>
</div>